<section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5">
    <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
        <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
            {% include "dashboard/partials/category_table_head.html" %}
            {% include "dashboard/partials/category_table_content.html" %}
            {% include "dashboard/partials/category_table_nav.html" %}
            {% include "dashboard/partials/category_table_create_modal.html" %}
        </div>
    </div>
</section>
