{% autoescape off %}
    Hello {{ user.username }},

    Somebody requested a new password for the Django-CRM account associated with {{ user.email }}.

    No changes have been made to your account yet.

    You can reset your password by clicking the link below:
    {{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

    If you did not request a new password, please let us know immediately by replying to this email.

    Yours,
    The Django-CRM team
{% endautoescape %}
