<div class="overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-4 py-3">First Name</th>
                <th scope="col" class="px-4 py-3">Last Name</th>
                <th scope="col" class="px-4 py-3">Email</th>
                <th scope="col" class="px-4 py-3">Age</th>
                <th scope="col" class="px-4 py-3">Category</th>
                <th scope="col" class="px-4 py-3">Created At</th>
                <th scope="col" class="px-4 py-3">Updated At</th>
                <th scope="col" class="px-4 py-3">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for lead in leads %}
                <tr class="border-b dark:border-gray-700">
                    <td class="px-4 py-3">{{ lead.first_name }}</td>
                    <td class="px-4 py-3">{{ lead.last_name }}</td>
                    <td class="px-4 py-3">{{ lead.email }}</td>
                    <td class="px-4 py-3">{{ lead.age }}</td>
                    <td class="px-4 py-3">{{ lead.category.name }}</td>
                    <td class="px-4 py-3">{{ lead.created_at|date:'Y-m-d' }}</td>
                    <td class="px-4 py-3">{{ lead.updated_at|date:'Y-m-d' }}</td>
                    <td class="px-4 py-3">
                        <a href="#" class="font-medium hover:underline">Remove</a>
                        <a href="#" class="font-medium hover:underline">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
