<div class="overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-4 py-3">First Name</th>
                <th scope="col" class="px-4 py-3">Last Name</th>
                <th scope="col" class="px-4 py-3">Email</th>
                <th scope="col" class="px-4 py-3">Age</th>
                <th scope="col" class="px-4 py-3">Category</th>
                <th scope="col" class="px-4 py-3">Created At</th>
                <th scope="col" class="px-4 py-3">Updated At</th>
                <th scope="col" class="px-4 py-3">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-b dark:border-gray-700">
                <th scope="row"
                    class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Monitor BenQ EX2710Q
                </th>
                <td class="px-4 py-3">TV/Monitor</td>
                <td class="px-4 py-3">BenQ</td>
                <td class="px-4 py-3">BenQ</td>
                <td class="px-4 py-3">BenQ</td>
                <td class="px-4 py-3">BenQ</td>
                <td class="px-4 py-3">354</td>
                <td class="px-4 py-3">
                    <i class="fa-solid fa-eye"></i>
                    <i class="fa-solid fa-trash"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
