<section class="bg-white dark:bg-gray-800">
    <div class="py-8 px-4 mx-auto max-w-screen-md text-center lg:py-16 lg:px-12">
        <i class="fa-solid fa-magnifying-glass fa-3x mx-auto mb-5 text-gray-400"></i>
        <h1 class="mb-4 text-4xl font-bold tracking-tight leading-none text-gray-900 lg:mb-6 md:text-5xl xl:text-4xl dark:text-white">
            No results found.
        </h1>
        <p class="font-light text-gray-500 md:text-lg xl:text-xl dark:text-gray-400">
            Try search again for a category or back for
            <a href="{% url 'dashboard:leads_category' %}"
               class="font-medium text-blue-600 dark:text-blue-500 hover:underline">category page</a>.
        </p>
    </div>
</section>
