{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock title %}
            | Customer Relationship Management
        </title>
        <link rel="shortcut icon"
              href="{% static 'images/favicon.png' %}"
              type="image/x-icon">
        <script src="https://kit.fontawesome.com/0527a7a8a4.js"
                crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'js/theme_check.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    </head>
    <body>
        {% block content %}
        {% endblock content %}
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    {% include "messages/success.html" %}
                {% elif message.tags == 'error' %}
                    {% include "messages/error.html" %}
                {% elif message.tags == 'warning' %}
                    {% include "messages/warning.html" %}
                {% endif %}
            {% endfor %}
        {% endif %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.6/flowbite.min.js"></script>
    </body>
</html>
