<aside class="fixed top-0 left-0 z-40 w-64 h-screen pt-14 transition-transform -translate-x-full bg-white border-r border-gray-200 md:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
       aria-label="Sidenav"
       id="drawer-navigation">
    <div class="overflow-y-auto py-5 px-3 h-full bg-white dark:bg-gray-800">
        <form action="#" method="GET" class="md:hidden mb-2">
            <label for="sidebar-search" class="sr-only">Search</label>
            <div class="relative">
                <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                    <i class="fa-solid fa-magnifying-glass w-5 h-5 text-gray-500 dark:text-gray-40"></i>
                </div>
                <input type="text"
                       name="search"
                       id="sidebar-search"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                       placeholder="Search" />
            </div>
        </form>
        <ul class="space-y-2">
            <!-- Dashboard -->
            <li>
                <a href="{% url 'dashboard:home' %}"
                   class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <i class="fa-solid fa-house fa-lg text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                       aria-hidden="true">
                    </i>
                    <span class="ml-3">Dashboard</span>
                </a>
            </li>
            <!-- Leads -->
            <li>
                <button type="button"
                        class="flex items-center p-2 w-full text-base font-medium text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                        aria-controls="dropdown-leads"
                        data-collapse-toggle="dropdown-leads">
                    <i class="fa-solid fa-pencil fa-lg flex-shrink-0 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white"
                       aria-hidden="true">
                    </i>
                    <span class="flex-1 ml-3 text-left whitespace-nowrap">Leads</span>
                    <i class="fa-sharp fa-solid fa-arrow-down fa-sm"></i>
                </button>
                <ul id="dropdown-leads" class="hidden py-2 space-y-2">
                    <li>
                        <a href="#"
                           class="flex items-center p-2 pl-11 w-full text-base font-medium text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Option 1</a>
                    </li>
                    <li>
                        <a href="#"
                           class="flex items-center p-2 pl-11 w-full text-base font-medium text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Option 2</a>
                    </li>
                </ul>
            </li>
            <!-- Agents -->
            <li>
                <button type="button"
                        class="flex items-center p-2 w-full text-base font-medium text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                        aria-controls="dropdown-agents"
                        data-collapse-toggle="dropdown-agents">
                    <i class="fa-solid fa-user-tie fa-lg flex-shrink-0 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white"
                       aria-hidden="true">
                    </i>
                    <span class="flex-1 ml-3 text-left whitespace-nowrap">Agents</span>
                    <i class="fa-sharp fa-solid fa-arrow-down fa-sm"></i>
                </button>
                <ul id="dropdown-agents" class="hidden py-2 space-y-2">
                    <li>
                        <a href="#"
                           class="flex items-center p-2 pl-11 w-full text-base font-medium text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Option 1</a>
                    </li>
                    <li>
                        <a href="#"
                           class="flex items-center p-2 pl-11 w-full text-base font-medium text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Option 2</a>
                    </li>
                </ul>
            </li>
            <!-- Settings -->
            <li>
                <a href="#"
                   class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <i class="fa-sharp fa-solid fa-gear fa-lg text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                       aria-hidden="true">
                    </i>
                    <span class="ml-3">Settings</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
