{% extends "_base.html" %}
{% block title %}
    Reset Password
{% endblock title %}
{% block content %}
    <div class="p-4 min-h-screen flex flex-col items-center justify-center bg-gray-50 dark:bg-gray-900">
        <div class="w-full p-6 bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md dark:bg-gray-800 dark:border-gray-700 sm:p-8">
            <h1 class="mb-1 text-xl text-center font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                Reset Your Password
            </h1>
            <form class="mt-4 space-y-4 lg:mt-5 md:space-y-5" action="#" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div>
                        <label for="{{ field.id_for_label }}"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            {{ field.label }}
                        </label>
                        {{ field }}
                        {% if field.errors %}
                            <span class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">{{ field.errors }}</span>
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit"
                        class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                    Reset password
                </button>
            </form>
        </div>
    </div>
{% endblock content %}
